:root {
  --color-coffee-night: #0f0f0f;
  --color-coffee-primary: #4e56c6;
  --color-coffee-text: #ffffff;
  --color-coffee-muted: #a2a2a2;
  --space-1: 4px;
  --space-4: 16px;
  --space-5: 24px;
  --space-screen-top: 68px;
  --size-product-image: 128px;
  --size-promo-height: 140px;
  --size-screen-width: 375px;
}
